---
import ServerIsland from "../components/server-island/ServerIsland.astro";
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="noindex" />
  <title>Title</title>
</head>
<body>
  <ServerIsland />
</body>
</html>
